body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: bisque;
    font-family: 'Open Sans' sans-serif;
}
button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.m-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    position: relative;
    width: 245px;
    height: 450px;
    background-color: black;
    border-radius: 20px;
    border: 8px 4px solid #c6c6c6;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.bg img{
    height: 105%;
    width: 105%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    filter: blur(6px);
    -webkit-filter: blur(5px);
}
#blayer{
    height: 450px;
    width: 100%;
    background-color: rgb(18, 6, 61);
    position: absolute;
    z-index: 2;
}
#menu{
    position: relative;
    z-index: 3;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu img{
    height: 15px;
    width: 15px;
    cursor: pointer;
}
.volume-container{
    position: relative;
    height: 15px;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}